[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=drcom-client
Categories=Network;GTK;GNOME;
GenericName=drcom-client PUM
Comment=ISP Authentication
Exec=/usr/bin/drcomclient
Icon=/usr/share/drcom/resource/drcom.png
StartupNotify=true
StartupWMClass=drcom
Terminal=false
Type=Application
