[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=drcom-client
Name[zh_CN]=Drcom 客户端
Categories=Network;GTK;GNOME;
GenericName=drcom-client PUM
Comment=ISP Authentication
Comment[zh_CN]=ISP 认证
Exec=/usr/bin/drcomclient
Icon=/usr/share/drcom/resource/drcom.png
StartupNotify=true
StartupWMClass=drcom
Terminal=false
Type=Application

